// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.telm-hb-icon {
  background-image: url(../assets/img/telm/hb_icon.svg);
}
.telm-temp-icon {
  background-image: url(../assets/img/telm/o_2_icon.svg);
}
.telm-temp-icon {
  background-image: url(../assets/img/telm/temp_icon.svg);
}
.telm_tbl_head_img {
  width: 20px;
  height: auto;
}

.pastil_layout {
  height: 50px;
}
